*{
    margin: 0;
    padding: 0;

}

body{
    height: 100%;
    font-family: "Lato", sans-serif;
    font-style: normal;
    background-color: rgb(30, 30, 30);
    color: white;
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.principal{
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.button{
    width: 100px;
    height: 50px;
    margin: 10px;
    border: none;
    border-radius: 20px;
    background-color: white;
}

.player{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}